<script setup lang="ts">
import BewerberField from '@/components/BewerberField.vue'
import BewerberTabelle from '@/components/BewerberTabelle.vue'
import { onMounted, type Ref, ref } from 'vue'
import type { Bewerber } from '@/types/Bewerber'
import { BewerberStatus } from '@/enums/bewerberStatus'
import { getEnumValueByKey } from '@/composables/enumValueByKey'

async function getBewerber() {
  const allBewerber = fetch('http://localhost:8080/get-bewerber').then((r) => r.json())

  return await allBewerber
}

const bewerberExampleValue = [{ id: 0, name: 'example', status: BewerberStatus.OPEN }]
const bewerberArray: Ref<Bewerber[]> = ref(bewerberExampleValue)
const bewerberOriginalArray: Ref<Bewerber[]> = ref(bewerberExampleValue)

async function prepareBewerberList() {
  const allBewerberList = await getBewerber()

  allBewerberList.map((item: Bewerber) => {
    item.status = getEnumValueByKey(BewerberStatus, item.status)
    return item
  })

  bewerberArray.value = allBewerberList
  bewerberOriginalArray.value = allBewerberList
}

onMounted(async () => {
  await prepareBewerberList()
})

// Add new "Bewerber"
async function addBewerber(bewerber: string) {
  if (bewerber && bewerber.trim() !== '') {
    // bewerberArray.value.push({ name: bewerber, status: BewerberStatus.OPEN })
    await fetch('http://localhost:8080/add-bewerber', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' },
      body: JSON.stringify({ name: bewerber }) // the status is set to OPEN by default in the backend
    })
    await prepareBewerberList()
    return
  }
  alert('Das Feld darf nicht leer sein!')
}

// Update the status of the given "Bewerber"
async function updateStatus(bewerber: Bewerber) {
  await fetch('http://localhost:8080/update-bewerber-status', {
    method: 'PUT',
    headers: { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' },
    body: JSON.stringify(bewerber) // the status is set to OPEN by default in the backend
  })
  await prepareBewerberList()
}

// Filter "Bewerber" by name
function filterBewerber(event: Event) {
  const filterValue = (event.target as HTMLInputElement).value
  bewerberArray.value = bewerberOriginalArray.value
  bewerberArray.value = bewerberArray.value?.filter((item) => {
    // changing both the value of the filter and the value of the name to lowercase to match with case insensitivity
    if (item.name.toLowerCase().includes(filterValue.toLowerCase())) {
      return item
    }
  })
}

// Filter with checkbox
function filterAusblenden(event: Event) {
  const ausblenden = (event.target as HTMLInputElement).checked
  if (ausblenden) {
    bewerberArray.value = bewerberArray.value?.filter((item) => {
      if (item.status !== BewerberStatus.DECLINED) {
        return item
      }
    })
    return
  }
  bewerberArray.value = bewerberOriginalArray.value
}
</script>

<template>
  <main>
    <BewerberField @bewerberSubmission="addBewerber($event)" />
    <BewerberTabelle
      :bewerbern="bewerberArray"
      @statusUpdated="updateStatus($event)"
      @filterBewerberList="filterBewerber"
      @filterAusblenden="filterAusblenden"
    />
  </main>
</template>
