<template>
  <div class="name-field-wrapper">
    <form @submit.prevent>
      <input
        class="name-field"
        type="text"
        placeholder="Vorname Nachname"
        v-model="bewerberValue"
      />
      <button type="submit" @click="$emit('bewerberSubmission', bewerberValue)">Hinzufügen</button>
    </form>
  </div>
</template>

<script setup lang="ts">
defineEmits(['bewerberSubmission'])
const bewerberValue = defineModel()
</script>

<style scoped>
.name-field-wrapper {
  border-bottom: 1px solid #ffffff;
  padding: 1rem 0;
}
.name-field {
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 6px;
}
button {
  padding: 1rem;
  font-weight: bold;
  background-color: mediumseagreen;
  border: none;
  border-radius: 6px;
}
</style>
