<template>
  <div>
    <input
      class="name-filter"
      type="text"
      placeholder="namensfilter"
      @keyup="$emit('filterBewerberList', $event)"
    />
    <label for="ausblenden">
      <input type="checkbox" id="ausblenden" @click="$emit('filterAusblenden', $event)" />
      Abgelehnte Bewerbe ausblenden
    </label>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Aktion</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, i) in bewerbern" :key="i" role="row">
          <td>{{ item.name }}</td>
          <td>{{ item.status }}</td>
          <td v-if="item.status !== BewerberStatus.DECLINED" class="status">
            <span
              @click="
                $emit('statusUpdated', {
                  status: getEnumKeyByValue(BewerberStatus, BewerberStatus.ACCEPTED),
                  id: item.id,
                  name: item.name
                })
              "
              >Annehmen</span
            >
            |
            <span
              @click="
                $emit('statusUpdated', {
                  status: getEnumKeyByValue(BewerberStatus, BewerberStatus.DECLINED),
                  id: item.id,
                  name: item.name
                })
              "
              >Ablehnen</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue'
import type { PropType } from 'vue'
import type { Bewerber } from '@/types/Bewerber'
import { BewerberStatus } from '@/enums/bewerberStatus'
import { getEnumKeyByValue } from '@/composables/enumValueByKey'

defineProps({
  bewerbern: {
    type: Array as PropType<Bewerber[]>
  }
})

defineEmits(['filterBewerberList', 'filterAusblenden', 'statusUpdated'])
</script>

<style scoped>
.name-filter {
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  border-radius: 6px;
}

table,
th,
td {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  padding: 1rem;
}
th:nth-child(3) {
  min-width: 200px;
}
.status {
  font-weight: bold;
  cursor: pointer;
  color: aquamarine;
}
</style>
